/* Pseudo Selector menargetkan elemen pada bagian yang “tidak terlihat” seperti sifat pada elemen*/
main :hover {
    color: blueviolet;
}

/* Pseudo Class Selctor sebuah class “semu” yang sebenarnya ada pada tiap elemen HTML.*/
main :visited {
    color: brown;
}

main :active {
    color: blue;
}

/* Pseudo Element Selector merupakan sebuah elemen “semu” yang 
sebenarnya ada tetapi tidak tampak secara tertulis pada berkas HTML. */

div ::before
div ::after {
    content: '"';
    font-size: medium;
    font-style: italic;
    font-weight: bold;
}